/****************************************
            Main Content
****************************************/

#main_content {
  padding-top: 0px;
  background-color: #A1F5FF; }

.title {
  padding-bottom: 30px;
  text-align: center; }

.inner_content {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #aab1b0;
  border-radius: 25px; }

ul {
  list-style-type: none; }

/****************************************
            Navigation Bar
****************************************/

/****************************************
            Add A Job
****************************************/

/****************************************
            About
****************************************/

/****************************************
            Contact
****************************************/

/****************************************
            Footer
****************************************/

footer {
  border-top: 1px solid #aab1b0;
  margin-top: 40px;
  background-color: #A1F5FF; }
  footer .container {
    padding-top: 20px;
    padding-bottom: 10px; }
  footer p {
    color: #aab1b0;
    text-align: center; }
    footer p a {
      color: #aab1b0;
      text-decoration: none; }
