/****************************************
            Main Content
****************************************/

#main_content {
  padding-top: 5px; }

.title {
  padding-bottom: 30px;
  text-align: center; }

/****************************************
            Navigation Bar
****************************************/

/****************************************
            Add A Job
****************************************/

/****************************************
            About
****************************************/

/****************************************
            Contact
****************************************/

/****************************************
            Footer
****************************************/

footer {
  border-top: 1px solid #aab1b0;
  margin-top: 40px; }
  footer .container {
    padding-top: 20px;
    padding-bottom: 10px; }
  footer p {
    color: #aab1b0;
    text-align: center; }
    footer p a {
      color: #aab1b0;
      text-decoration: none; }
